html {
    font-size: 16px; /* size16px */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: inherit;
}


#clearHistoryButton {
    
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Space from other elements */
    margin-bottom: 6px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Button size */
    height: 30px; /* Button size */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-weight: 900;
    font-size: 35px; /* Adjust size */
    
}

#clearHistoryButton .fa {
    color: white; /* Icon color */
}

#clearHistoryButton:hover {
    transform: scale(1.1); /* Slightly enlarges on hover */
}

#chat-circle {
    position: fixed;
    bottom: 3.125em; /* 50px */
    right: 3.125em; /* 50px */
    width: 6.25em;  /* 100px */
    height: 6.25em; /* 100px */
    cursor: pointer;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    border: 0.3125em solid #fff; /* 5px */
    border-radius: 50%;
    box-shadow: 0px 0px 0.625em rgba(0, 0, 0, 0.3); /* 10px */
    background-color: rgb(139,35,27);
    background: url('./new_logo.gif') no-repeat center center;
    background-size: cover; 
}

#chat-circle:hover {
    animation: none;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

#chat-circle.hidden {
    display: none;
}

.chat-box {
    display: none;
    background: url('./bg.jpeg') no-repeat center center;
    background-size: cover;
    position: fixed;
    right: 1.875em; /* 30px */
    bottom: 3.125em; /* 50px */
    width: 21.875em; /* 350px */
    max-width: 85vw;
    border-radius: 0.3125em; /* 5px */
    box-shadow: 0px 0.3125em 2.1875em 0.5625em #ccc; /* 5px 35px 9px */
    z-index: 1000;
}

.chat-box.show {
    display: block;
}

.chat-box-header {
    background: rgb(139,35,27);
    color: white;
    padding: 0.9375em; /* 15px */
    text-align: center;
    font-size: 1.125em; /* 18px */
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-box-body {
    height: 23.125em; /* 370px */
    padding: 0.9375em; /* 15px */
    overflow-y: scroll;
    border: 0.0625em solid #ccc; /* 1px */
}

.chat-box-header button {
    background: none;
    border: none;
    color: white;
    font-size: 1.875em; /* 30px */
    cursor: pointer;
    font-weight: bolder;
}

.chat-box-header button:hover {
    color: #ddd;
}

.chat-box-body::-webkit-scrollbar {
    width: 0.3125em; /* 5px */
}

.chat-box-body::-webkit-scrollbar-thumb {
    background: #5A5EB9;
}

.chat-input {
    background: #f4f7f9;
    height: 2.9375em; /* 47px */
    padding: 0.625em; /* 10px */
    border: 0.0625em solid #ccc; /* 1px */
    border-top: none;
    border-bottom-right-radius: 0.3125em; /* 5px */
    border-bottom-left-radius: 0.3125em; /* 5px */
    display: flex;
    align-items: center;
}

#chat-input {
    flex-grow: 1;
    border: none;
    outline: none;
}

.chat-submit {
    background: transparent;
    border: none;
    color: #5A5EB9;
    font-size: 1.25em; /* 20px */
    cursor: pointer;
}

.buttons button, .buttons select, .buttons input {
    width: 100%;
    padding: 0.625em; /* 10px */
    margin-bottom: 0.3125em; /* 5px */
    border: none;
    border-radius: 0.3125em; /* 5px */
    cursor: pointer;
    font-size: 1em; /* 16px */
}

.buttons button {
    background: rgb(139,35,27);
    color: white;
}

.buttons button:hover {
    background: rgb(228, 77, 66);
}

.buttons select {
    background: white;
    border: 0.0625em solid #ccc; /* 1px */
}

.titles {
    display: grid;
    font-display: flex;
    font-weight: bold;
    font-size: 1.25em; /* 20px */
}

.form, .combined-form {
    display: flex;
    flex-direction: column;
    gap: 0.625em; /* 10px */
    max-width: 18.75em; /* 300px */
    padding: 0.9375em; /* 15px */
    background-color: #f9f9f9;
    border-radius: 0.5em; /* 8px */
    margin-bottom: 0.625em; /* 10px */
}

.form input {
    width: 95%;
    padding: 0.5em; /* 8px */
    border: 0.0625em solid #ccc; /* 1px */
    border-radius: 0.3125em; /* 5px */
    font-size: 1em; /* 16px */
    transition: border-color 0.3s;
}

.form input:focus {
    border-color: rgb(136, 38, 27);
    outline: none;
    border: 0.125em solid rgb(136, 38, 27); /* 2px */
}

.form button {
    padding: 0.625em; /* 10px */
    background-color: rgb(136, 38, 27);
    color: white;
    font-size: 1em; /* 16px */
    border: none;
    border-radius: 0.3125em; /* 5px */
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: rgb(216, 128, 122);
}

.chat-msg {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.625em; /* 10px */
}

.cm-msg-text {
    max-width: 70%;
    padding: 0.5em; /* 8px */
    background-color: #f9f9f9;
    border-radius: 0.625em; /* 10px */
    margin-right: 0.625em; /* 10px */
}

.cm-msg-text-reply {
    max-width: 70%;
    padding: 0.5em; /* 8px */
    background-color: rgb(139,35,27);
    color: white;
    border-radius: 0.625em; /* 10px */
    margin-left: auto;
}

.checkbox {
    display: flex;
    flex-direction: column;
    gap: 0.625em; /* 10px */
    max-width: 18.75em; /* 300px */
    padding: 0.9375em; /* 15px */
    background-color: #f9f9f9;
    border-radius: 0.5em; /* 8px */
    box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.1); /* 2px 10px */
}

.checkbox label {
    display: flex;
    align-items: center;
    gap: 0.5em; /* 8px */
    font-size: 1em; /* 16px */
    cursor: pointer;
}

.checkbox input[type="checkbox"] {
    width: 1.125em; /* 18px */
    height: 1.25em; /* 20px */
    accent-color: rgb(136, 38, 27);
    cursor: pointer;
}

.checkbox button {
    padding: 0.625em; /* 10px */
    background-color: rgb(136, 38, 27);
    color: white;
    font-size: 1em; /* 16px */
    border: none;
    border-radius: 0.3125em; /* 5px */
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkbox button:hover {
    background-color: rgb(216, 128, 122);
}

.combined-form {
    display: flex;
    flex-direction: column;
    gap: 0.625em; /* 10px */
    max-width: 18.75em; /* 300px */
    padding: 0.9375em; /* 15px */
    background-color: #f9f9f9;
    border-radius: 0.5em; /* 8px */
    box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.1); /* 2px 10px */
}

.checkbox-group, .radio-group, .textarea-group {
    background-color: #f9f9f9;
    padding: 0.625em; /* 10px */
    border-radius: 0.25em; /* 4px */
    margin-bottom: 0.625em; /* 10px */
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Style the container of the checkbox group */
.checkbox-group {
    display: flex;
    flex-direction: column; /* Arrange checkboxes vertically */
    margin-bottom: 20px;
  }
  
  /* Style each checkbox and its label */
  .checkbox-group input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and label */
  }
  
  .checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Space between each checkbox item */
    font-size: 16px; /* Font size for labels */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  /* Optional: Style the checkbox itself */
  .checkbox-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: rgb(139,35,27); /* Change the color of the checkbox */
  }
  
  /* Add hover effect for labels */
  .checkbox-group label:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
  }

.group-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    
}

textarea {
    width: 98%;
    padding: 0.1rem;
    border: 0.0625em solid rgb(136, 38, 27); /* 1px */
    border-radius: 0.25em; /* 4px */
    resize: vertical;
    transition: border-color 0.3s ease, border-width 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for border and shadow */
    background-color: white; /* Light background color */
    
}

textarea:focus {
    border-color: rgb(136, 38, 27); /* Change border color to red when focused */
    border-width: 0.125em; /* 2px, make the border thicker */
    outline: none; /* Remove default outline (optional) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* More pronounced shadow on focus */
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

button[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(136, 38, 27);
    color: white;
    border: none;
    border-radius: 0.25em; /* 4px */
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(228, 77, 66);
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em; /* 8px */
    background-color: #ffffff;
    border-radius: 0.75em; /* 12px */
    border: 0.0625em solid #ddd; /* 1px */
    box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.1); /* 4px 12px */
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    margin-bottom: 0.3125em; /* 5px */
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 0.625em; /* 10px */
    font-size: 1em; /* 16px */
    cursor: pointer;
}

.radio-group input[type="radio"] {
    width: 1.125em; /* 18px */
    height: 1.125em; /* 18px */
    accent-color: rgb(136, 38, 27);
    cursor: pointer;
}

.group-label {
    font-weight: bold;
    margin-bottom: 0.625em; /* 10px */
    color: rgb(136, 38, 27);
}

.radio-group {
    margin-bottom: 1.25em; /* 20px */
    padding: 0.625em; /* 10px */
    border-radius: 0.3125em; /* 5px */
    background-color: #f9f9f9;
}

 /* Responsive Design */
 @media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }


    .chat-box {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: relative;
    }


    .chat-box-body {
        overflow-x: hidden;
        overflow-y: auto;
        height: 85vh; /* Adjust for header height */
    }

    #chat-circle {
        bottom: 1.875em; /* 30px */
        right: 1.875em; /* 30px */
    }

    .form {
        max-width: 100%;
        padding: 0.625em; /* 10px */
        margin-left: -0.65em;
    }

    .checkbox,
    .form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .chat-box-header {
        font-size: 1em; /* 16px */
    }
}

#logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

